// Styling for generic component

bp-tabs .nav-item {
  margin-right: 5px;
}

bp-tabs .nav-link {
  border-bottom: 5px solid #808080;
  padding: 5px 20px;
}

bp-tabs .tab-pane {
  display: none;
}

bp-tabs .tab-pane.active {
  display: block;
}