ngbs-test .css-test {
  display: none; }
ngbs-select {
  display: block; }
  ngbs-select .dropdown-menu-inner {
    max-height: 18rem;
    overflow-y: auto;
    overflow-x: hidden; }
  ngbs-select .selected {
    font-weight: bold; }
ngbs-tabs .tab-pane {
  display: none; }
  ngbs-tabs .tab-pane.active {
    display: block; }
