ngbs-test .css-test {
  display: none; }
ngbs-dropdown {
  display: block; }
  ngbs-dropdown .dropdown-menu-inner {
    max-height: 18rem;
    overflow-y: auto;
    overflow-x: hidden; }
  ngbs-dropdown .selected {
    font-weight: bold; }
ngbs-tabs .tab-pane {
  display: none; }
  ngbs-tabs .tab-pane.active {
    display: block; }
