$dropdown-max-height: 18rem;

ngbs-select {
  display: block;

  .dropdown-menu-inner {
    max-height: $dropdown-max-height;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .selected {
    font-weight: bold;
  }
}