$white:  #fff !default;
$white:  #000 !default;


ngbs-dropdown {
  display: block;
  background: $white;

  .dropdown-trigger {
    padding-right: 2rem;
    position: relative;
  }

  .value, .placeholder {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .dropdown-toggle::after {
    position: absolute;
    right: 1rem;
    top: 50%;
    margin-top: -2px;
    margin-right: -5px;
  }

  .dropdown-menu {
    width: 100%;
  }

  .dropdown-menu-inner {
    max-height: 290px;
    overflow-y: auto;
    overflow-x: hidden;
  }


  .dropdown-item {
    text-overflow: ellipsis;
    overflow: hidden;
    &.selected {
      font-weight: bold;
    }
  }
}